# Python
__pycache__/
*.py[cod]
*.so

# Conda
.env
.venv
venv/
env/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/